<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Swissup\SeoUrls\Model\Filter\Category"
        type="Swissup\SeoUrlsCodazonAjaxLayeredNavPro\Model\Filter\Category"
    />
    <type name="Magento\Catalog\Controller\Category\View">
        <plugin name="swissup_seo_urls_ajax_layered_nav_pro_plugin_category_view"
            type="Swissup\SeoUrlsCodazonAjaxLayeredNavPro\Plugin\Category\View"
            sortOrder="20"
            disabled="false"
        />
    </type>
    <type name="Magento\CatalogSearch\Controller\Result\Index">
        <plugin name="swissup_seo_urls_ajax_layered_nav_pro_plugin_catalogsearch_result_index"
            type="Swissup\SeoUrlsCodazonAjaxLayeredNavPro\Plugin\CatalogSearch\View"
            sortOrder="20"
            disabled="false"
        />
    </type>
</config>
